.container {
    width: 80%;
    margin: 0 auto;
}

header {
background: rgb(238, 130, 238)
}

body {  

    background-color: lightblue;  

}  

h1 {  
    color: navy;  
    margin-left: 40px;  
} 
