.container {
    width: 80%;
    margin: 0 auto;
}

header {
background-color: black;
}

ul{
    list-style-type: none
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li{
    display: inline;
}
.active {
    background-color: rgb(144, 158, 238);
}

body {  ;

    background-color: lightblue;  

}  

h1 {  
    color: navy;  
    margin-left: 40px;  
} 
